*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    background: darkslategrey;
    color: whitesmoke;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.image1{
    margin: 0 auto;
}